BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

UseTab: Never
IndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left

BreakBeforeBraces: Allman

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceAfterTemplateKeyword: false