# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

root = true

# Default settings
[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

[*.{h,cpp,c}]
indent_size = 4
insert_final_newline = true

[CMakeLists.txt]
indent_size = 2

[*.manifest]
indent_size = 2