# SPDX-FileCopyrightText: © 2016 Team CharLS
# SPDX-License-Identifier: BSD-3-Clause

root = true

# Default settings
[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
spelling_exclusion_path = spelling.dic
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{h,hpp,cpp,c}]
indent_size = 4

[CMakeLists.txt]
indent_size = 2

[*.manifest]
indent_size = 2

[*.props,.runsettings]
indent_size = 2

[*.vcxproj]
indent_size = 2
# Visual Studio generates .vcxproj files with no final newline: avoid unnecessary diffs.
insert_final_newline = false
