<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CharLS Rules" Description="This rule set contains the rules for CharLS .NET projects (excluding unittests)." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1062" Action="None" />
  </Rules>
</RuleSet>